.contact-me-main {
  // border: 3px solid black;
  height: 72vh;
  width: 80vw;
  margin: 10vh auto;

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;

    .icon {
      display: flex;
      flex-wrap: wrap;

      a {
        width: 100%;
        text-align: center;
      }

      .contact-text {
        width: 100%;
        text-align: center;
        margin: 1em;
        text-decoration: none;
        color: white;         
      }

      // To account for img's smaller height
      .email-text {
        margin-top: 0px;
      }
    } // .icon

    .icon:hover {
      animation: moveIcon 5s infinite ease-in-out;
      @keyframes moveIcon {
        50% {
          transform: scale(1.15);
        }
      }
    }

    // To account for email's smaller height
    .email-icon {
      margin-top: 16px;
    }
  } // .icons
} // .contact-me-main