$timeline-bar-colour: rgb(0, 204, 255);

.about-me-main {
  // border: 3px solid black; 
  height: 72vh;
  width: 80vw;
  margin: 10vh auto;

  .title { 
    color: #ffffff;
    text-align: center;
    font-size: 64px;
    margin: 10px 10px 100px;
  }
  
  .timeline {
    position: relative;
    margin: 140px 60px 0px 100px;
    height: 4px;
    background-color: #ccc;

    .timeline-progress {
      height: 100%;
      background-color: $timeline-bar-colour;
      transition: 2s;
    }
    
    .timeline-items {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -12px;
      display: flex;
      justify-content: space-between;
    }
        
    .timeline-ends {
      position: relative;
      width: 2px;
      height: 20px;
      background-color: #ccc;
      display: block;
    }

    .timeline-button {
      position: absolute;
      // position left is dynamically set inside of IndividualButton
      width: 20px;
      height: 20px;
      background-color: #ccc;
      display: block;
      border-radius: 100%;
      border: none;
    }

    .timeline-button:hover {
      width: 22px;
      height: 22px;
      background-color: #ffffff;
    }

    .timeline-button:focus {
      width: 22px;
      height: 22px;
      background-color: $timeline-bar-colour;

      outline: none;
    }

    .summary-event {
      position: absolute;
      top: 25px;
      // position left is dynamically set inside of IndividualButton
      transform: translateX(-43%);
      color: white;
      width: 150px;
      padding: 2px 3px;
      border-radius: 5px;
      border: 1px solid black;
      text-align: center;

      .summary-event-title {
        margin: 10px;
        font-size: 16px;
      }
      .summary-event-date {
        margin: 4px;
        font-size: 16px;
      }
    }

    .summary-event::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: $timeline-bar-colour;
      display: block;
      position: absolute;
      top: -8px;
      margin-left: -2px;
      left: 50%;
      transform: rotate(-45deg) translateX(-50%);
    }
  } // .timeline
  
  .about-event {
    width: 100%;
    margin: 7em 1.5em 0em;

    .event-title, .event-date {
      color: #ffffff;
      text-align: center;
    }
    .event-description {
      color: #ffffff;
      line-height: 1.5;
      font-size: 20px;
      text-align: justify;
    }
  } // .about-event

} // .main

