html {
  background-image: url('./background_image.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.main {
  // border: 3px solid black;
  height: 85vh;
  width: 80vw;
  margin: 10vh auto 5vh;
}

.name {
  color: #ffffff;
  text-align: center;

  margin: 1em;

  .full-name {
    font-size: 64px;
    margin: 10px;
  }

  .title {
    font-size: 36px;
    margin: 10px;
  }

  .summary {
    font-size: 14px;
    margin: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  
  button {
    margin: 25px 1em;

    background-color: #646363;
    border: none;
    color: white;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  button:hover {
    background-color: white;
    color: black;
  }
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  width: 50%;
  height: 50%;

  .title {
    background-color: #646363;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 5px 0px;
    width: 80%;
    margin: auto;
  }

  .image {
    width: 100%;
    text-align: center;

    img {
      width: 80%;
      height: auto;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin: -4px auto;
    width: 80%;
    background-color: #646363;
    padding: 5px 0px;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    a:hover {
      animation: move 5s infinite ease-in-out;
    }
    @keyframes move {
      50% {
        transform: scale(1.25);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

